.image-picker-container {
  margin: auto;
  width: 60%;
  margin-top: 2em;
}

.image-picker-header {
  margin: auto;
  width: 60%;
  margin-top: 2em;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
}

.image-picker-save {
  margin-top: 150px;
  margin-left: 150px;
}
